@keyframes artist-arrow-blink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes album-image-1-covers-blink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes album-image-2-covers-blink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes album-image-3-covers-blink {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
