@mixin activity-section__icon() {
  $icons: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;

  @each $icon in $icons {
    .activity-section__icon-#{$icon} {
      width: 62px;
      height: 62px;
      background-color: $clr-bar-gr;
      background-image: url(../img/icon-#{$icon}.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 70%;
      margin: 10px;
      transition: all 0.3s ease-in-out;

      &:hover {
        cursor: pointer;
        background-color: $clr-main-accent;
      }
    }
  }
}

@mixin section-title() {
  position: absolute;
  z-index: 2;
  height: 25px;
  display: inline-block;
  border-bottom: 3px solid $clr-main-accent;
  text-transform: uppercase;
}

@mixin section-title-bar() {
  position: absolute;
  z-index: 1;
  height: 1px;
  width: 100%;
  border-bottom: 1px solid $clr-bar-gr;
}

@mixin album-compound() {
  &__container {
    position: relative;
    height: 200px;
    width: 230px;
    margin-top: 40px;
    background-color: $clr-section-bg;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $clr-blk;
    }

    &:hover .album-section__image-1 {
      filter: brightness(20%);
    }

    &:hover .album-section__image-2 {
      filter: brightness(20%);
    }

    &:hover .album-section__image-3 {
      filter: brightness(20%);
    }

    &:hover .album-section__text {
      color: $clr-main-accent;
    }

    &:hover .album-section__play-btn {
      visibility: visible;
    }

    &:hover .album-section__play-btn::after {
      visibility: visible;
    }
  }

  &__play-btn {
    visibility: hidden;
    position: relative;
    z-index: 2;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    width: 50px;
    height: 50px;
    border: 4px solid $clr-main-light;
    border-radius: 50%;

    &::after {
      visibility: hidden;
      content: "";
      position: absolute;
      z-index: 2;
      top: 10px;
      left: 9px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 20px solid $clr-main-light;
      transform: rotate(90deg);
    }
  }

  &__image-1 {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 90px;
    transition: all 0.3s ease-in-out;
    animation: album-image-1-covers-blink 2s linear infinite alternate;
  }

  &__image-2 {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 90px;
    transition: all 0.3s ease-in-out;
    animation: album-image-2-covers-blink 2s linear infinite alternate;
  }

  &__image-3 {
    position: absolute;
    top: 50px;
    left: 70px;
    height: 90px;
    transition: all 0.3s ease-in-out;
    animation: album-image-3-covers-blink 2s linear infinite alternate;
  }

  &__text {
    position: absolute;
    bottom: 0;
    display: inline-block;
    height: 50px;
    width: 230px;
    background-color: $clr-blk;
    text-align: center;
    line-height: 4;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}
