$clr-main-light: hsl(0, 0%, 100%);
$clr-main-accent: hsl(10, 78%, 54%);
$clr-blk: hsl(0, 0%, 0%);
$clr-gr-light: hsl(0, 0%, 60%);
$clr-section-bg: hsl(240, 6%, 10%);
$clr-bar-gr: hsl(0, 0%, 20%);
$clr-gr-dark: hsl(240, 1%, 28%);
